body { background: #fd32df; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 27px; display: flex; }
.block-auth-0 { color: #18f0fe; font-size: 15px; margin-bottom: 5px; }
.block-database-1 { color: #327c2b; font-size: 21px; margin-bottom: 5px; }
.block-sms-2 { color: #5234ec; font-size: 19px; margin-bottom: 5px; }
.block-cache-3 { color: #bd1cb7; font-size: 12px; margin-bottom: 5px; }
.block-search-4 { color: #645e9c; font-size: 18px; margin-bottom: 5px; }